<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1>Count page</h1>
    <h3>Original text:</h3>
    <p>{{ fulltext }}</p>
    <h3>Word Analysis:</h3>
    <h4>Total count: {{ total_count }}</h4>
    <h4>Word Frequency:</h4>

    {% for word, value in words%}
    <p>{{ word }} - {{ value }}</p>
    {% endfor %}
  </body>
</html>
